@font-face {
  font-family: "roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("../font/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/roboto/Roboto-Light.ttf");
}
header {
  padding: 1em;
  text-align: center;
}

.logo {
  width: 9em;
}

body {
  margin: 0;
}

footer {
  background-color: #353535;
  color: white;
  font-family: "roboto";
  padding: 1.5em;
}
footer img {
  margin-bottom: 0.6em;
  width: 7em;
}
footer .footer__text {
  margin: 0.5em 0 0.5em 0;
}
footer .footer__text i {
  color: white;
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
footer .footer__text--light {
  font-family: "roboto-light";
}

.location {
  text-align: center;
  background-color: #EAEAEA;
  height: 3em;
  font-family: "roboto";
  line-height: 3em;
  color: #353535;
  box-shadow: inset 0 7px 5px -5px #cfcfcf;
}
.location i {
  padding-right: 0.5em;
}

h1 {
  font-family: "roboto-medium";
  font-size: 1.7em;
  margin: 0.5em 0 0.5em 0;
}

.explore {
  text-align: center;
  padding: 2em;
  background-color: #f6f6f6;
}
.explore p {
  font-family: "roboto-thin";
}

button {
  padding: 1em 1.5em 1em 1.5em;
  color: white;
  font-family: "roboto";
  box-shadow: 2px 5px 5px #EAEAEA;
  text-align: center;
  font-size: 1.1em;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  margin: 1em 0 1em 0;
}

.steps {
  padding: 2em 1em 2em 1em;
}
.steps h1 {
  margin-bottom: 1.5em;
}

.step {
  background-color: #f6f6f6;
  height: 4em;
  line-height: 4em;
  padding-left: 2em;
  font-family: "roboto";
  font-size: 1.1em;
  margin: 1.5em 0 1.5em 0.7em;
  border-radius: 20px;
  box-shadow: 3px 7px 10px 2px #EAEAEA;
  display: flex;
  position: relative;
}
.step i {
  color: #7e7e7e;
  margin-right: 1em;
  line-height: 4em;
  width: 1em;
  text-align: center;
}
.step__number {
  background-color: #9356DC;
  width: 1.3em;
  height: 1.3em;
  border-radius: 45px;
  color: white;
  position: absolute;
  left: -0.7em;
  top: 1.9em;
  text-align: center;
  line-height: 1.3em;
  padding: 0.2em;
  font-size: 0.8em;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2em 1em 2em 1em;
}
.restaurantsh1 {
  margin-bottom: 2em;
}

.restaurant {
  height: 15em;
  background-color: white;
  border-radius: 15px;
  position: relative;
  padding-bottom: 0.3em;
  margin: 1em 0 1em 0;
  box-shadow: 3px 7px 10px 2px #EAEAEA;
}
.restaurant__image {
  height: 10.5em;
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__name {
  margin: 0.5em 0 0 0.5em;
  font-family: "roboto-medium";
  font-size: 1.3em;
}
.restaurant__location {
  font-family: "roboto-light";
  font-size: 1.2em;
  margin: 0.3em 0 0 0.5em;
}
.restaurant__heart {
  position: absolute;
  right: 1.5em;
  bottom: 2em;
}

.cover-image-container {
  top: 0;
}

.cover-image {
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
  padding: 2em 1em 2em 1em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -3em;
}

.meal__dish {
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin: 1em 0 1em 0;
  box-shadow: 3px 7px 10px 2px #EAEAEA;
  padding: 1em;
}
.meal__dish__name {
  font-family: "roboto";
  font-size: 1.1em;
  margin-bottom: 0.3em;
}
.meal__dish__description {
  font-family: "roboto-light";
  font-size: 0.9em;
  text-overflow: ellipsis;
  width: 80%;
}
.meal__dish__price {
  position: absolute;
  bottom: 1em;
  right: 1.5em;
  font-family: "roboto";
}

h3 {
  font-family: "shrikhand";
  font-size: 1.5em;
  margin: 0;
}

h4 {
  font-family: "roboto-thin";
  font-size: 1.2em;
  margin: 2em 0 0 0;
}

.green-underline {
  background-color: #9BDBCA;
  height: 0.2em;
  width: 3em;
}

.button-container {
  text-align: center;
}

.button2 {
  color: white;
  font-family: "roboto";
  box-shadow: 2px 5px 5px #EAEAEA;
  text-align: center;
  font-size: 1.1em;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  margin: 1em 0 1em 0;
  padding: 1em 3em 1em 3em;
}

/*# sourceMappingURL=style.css.map */
