@keyframes loader-spinner {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes loading-container {
  0% {
    visibility: visible;
  }
}
@keyframes checked {
  80% {
    width: 4.7em;
  }
  100% {
    width: 4.7em;
  }
}
@keyframes rond-turn {
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("../font/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/roboto/Roboto-Light.ttf");
}
header {
  padding: 1em;
  text-align: center;
  position: relative;
}

.logo {
  width: 9em;
}

body {
  margin: 0;
}

footer {
  background-color: #353535;
  color: white;
  font-family: "roboto";
  padding: 1.5em;
}
footer img {
  margin-bottom: 0.6em;
  width: 7em;
}
footer .footer__text {
  margin: 0.5em 0 0.5em 0;
}
footer .footer__text i {
  color: white;
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
footer .footer__text--light {
  font-family: "roboto-light";
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "roboto-medium";
  font-size: 1.5em;
  margin: 0.5em 0 0.5em 0;
}

h2 {
  font-family: "shrikhand";
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-family: "roboto-thin";
  font-size: 1.2em;
  margin: 1.5em 0 0 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 9999;
  background-color: white;
  animation-duration: 3s;
  animation-name: loading-container;
}
.loading__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 15em;
  margin: 30% auto 50% auto;
}
.loading__spinner {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: loader-spinner 1.5s infinite ease-in-out alternate-reverse;
  background: #99E2D0;
  box-shadow: 3px 3px 3px #EAEAEA;
}
.loading__spinner--1 {
  animation-delay: 0;
}
.loading__spinner--2 {
  animation-delay: 300ms;
}
.loading__spinner--3 {
  animation-delay: 600ms;
}

.intro__location {
  text-align: center;
  background-color: #EAEAEA;
  height: 3em;
  font-family: "roboto";
  line-height: 3em;
  color: #353535;
  box-shadow: inset 0 7px 5px -5px #cfcfcf;
}
.intro__location i {
  padding-right: 0.5em;
}
.intro__explore {
  text-align: center;
  padding: 2em;
  background-color: #f6f6f6;
}
.intro__explore p {
  font-family: "roboto-thin";
}
.intro button {
  padding: 1em 1.5em 1em 1.5em;
  color: white;
  font-family: "roboto";
  box-shadow: 2px 5px 5px #EAEAEA;
  text-align: center;
  font-size: 1.1em;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  margin: 1em 0 1em 0;
  opacity: 1;
}
.intro button:hover {
  opacity: 0.85;
  box-shadow: 2px 5px 5px #6b6b6b;
}

.operation {
  padding: 2em 1em 2em 1em;
}
.operation h1 {
  margin-bottom: 1.5em;
}
.operation__step {
  background-color: #f6f6f6;
  height: 4em;
  line-height: 4em;
  padding-left: 2em;
  font-family: "roboto";
  font-size: 1.1em;
  margin: 1.5em 0 1.5em 0.7em;
  border-radius: 20px;
  box-shadow: 3px 7px 10px 2px #EAEAEA;
  display: flex;
  position: relative;
}
.operation__step:hover {
  background-color: #f2ebfe;
}
.operation__step i {
  color: #7e7e7e;
  margin-right: 1em;
  line-height: 4em;
  width: 1em;
  text-align: center;
}
.operation__step__number {
  background-color: #9356DC;
  width: 1.3em;
  height: 1.3em;
  border-radius: 45px;
  color: white;
  position: absolute;
  left: -0.7em;
  top: 1.9em;
  text-align: center;
  line-height: 1.3em;
  padding: 0.2em;
  font-size: 0.8em;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2em 1em 2em 1em;
}
.restaurantsh1 {
  margin-bottom: 2em;
}

.restaurant {
  height: 15em;
  background-color: white;
  border-radius: 15px;
  position: relative;
  padding-bottom: 0.3em;
  margin: 1em 0 1em 0;
  box-shadow: 3px 7px 10px 2px #EAEAEA;
}
.restaurant__image {
  height: 10.5em;
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__name {
  margin: 0.5em 0 0 0.5em;
  font-family: "roboto-medium";
  font-size: 1.3em;
}
.restaurant__location {
  font-family: "roboto-light";
  font-size: 1.2em;
  margin: 0.3em 0 0 0.5em;
}
.restaurant__heart {
  position: absolute;
  right: 1.5em;
  bottom: 2em;
}
.restaurant--new {
  background-color: #99E2D0;
  color: #278870;
  font-family: "roboto";
  font-size: 0.8em;
  width: 5.5em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 1em;
  right: 1em;
}

header i {
  position: absolute;
  left: 1em;
  top: 1.1em;
}

.cover-container {
  top: 0;
}
.cover-container__image {
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
  padding: 2em 1em 2em 1em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -3em;
  padding-bottom: 3em;
}
.menu__title {
  display: flex;
}
.menu__title i {
  position: absolute;
  right: 2em;
  top: 2.5em;
}
.menu__part {
  padding-bottom: 1em;
}
.menu__part__green-underline {
  background-color: #9BDBCA;
  height: 0.2em;
  width: 3em;
}

.dish {
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin: 1em 0 1em 0;
  box-shadow: 3px 7px 10px 2px #EAEAEA;
  display: flex;
  justify-content: space-between;
  flex-basis: auto;
  cursor: pointer;
  overflow: hidden;
}
.dish:hover .dish__right__checked {
  animation: checked 1s 100ms forwards;
}
.dish:hover .dish__right__checked__rond {
  animation: rond-turn 1s 100ms forwards;
}
.dish__left {
  position: relative;
  padding: 1em 0 1em 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__left__name {
  font-family: "roboto";
  font-size: 1.1em;
  margin-bottom: 0.3em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__left__description {
  font-family: "roboto-light";
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__right {
  display: flex;
}
.dish__right__price {
  padding: 2.5em 1em 1em 1em;
  font-family: "roboto";
  transform: translateX(0);
}
.dish__right__checked {
  background-color: #99E2D0;
  width: 0;
  height: 4.7em;
}
.dish__right__checked__rond {
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
  margin: 1.6em;
}
.dish__right__checked__rond i {
  color: #99E2D0;
}

.button-container {
  text-align: center;
}
.button-container .button2 {
  color: white;
  font-family: "roboto";
  box-shadow: 2px 5px 5px #EAEAEA;
  text-align: center;
  font-size: 1.1em;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  margin: 1em 0 1em 0;
  opacity: 1;
  padding: 1em 3em 1em 3em;
}
.button-container .button2:hover {
  opacity: 0.85;
  box-shadow: 2px 5px 5px #6b6b6b;
}

/*# sourceMappingURL=style.css.map */
