header i {
  position: absolute;
  left: 1em;
  top: 1.1em;
}

.cover-container {
  &__image {
    object-fit: cover;
    width: 100%;
    height: 15em;
  }
}

.menu {
  @include section-grey;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -3em;
  padding-bottom: 3em;
  &__top {
    display: flex;
    &__title {
      font-family: "shrikhand";
      font-size: 1.7em;
      margin: 0;
      @include overflow;
      max-width: 80%;
      @include tablet {
        margin-left: 2em;
      }
    }
    .heart {
      right: 1.1em;
      top: 1.1em;
      @include tablet {
        margin-right: 2em;
      }
    }
  }
  &__container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__part {
    padding-bottom: 1em;
    @include tablet {
      margin: 0 1em 0 1em;
    }
    &__course {
      font-family: "roboto-thin";
      font-size: 1.1em;
      margin: 1.5em 0 0 0;
    }
    &__green-underline {
      background-color: $green;
      height: 0.2em;
      width: 3em;
    }
  }
}

.dish {
  @include box-shadow;
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: space-between;

  cursor: pointer;
  overflow: hidden;
  height: 4.7em;
  opacity: 0;
  animation: dish-appear 2s ease-in-out forwards;
  @for $dish from 0 to 10 {
    &--#{$dish} {
      animation-delay: 200ms * $dish;
    }
  }
  @include tablet {
    width: 25em;
  }
  &:hover {
    & .dish__right {
      transform: translateX(0.1em);
    }
    & .dish__right__checked__rond {
      animation: rond-turn 500ms 100ms;
    }
    & .dish__left {
      width: calc(100% - 9.2em);
    }
  }

  &__left {
    padding: 1em 0 1em 1em;
    @include overflow;
    width: calc(100% - 4.5em);
    @include transition-1s;
    &__name {
      font-family: "roboto-medium";
      font-size: 1.1em;
      margin: 0 0 0.3em 0;
      @include overflow;
    }
    &__description {
      font-family: "roboto-light";
      font-size: 0.9em;
      @include overflow;
    }
  }
  &__right {
    display: flex;
    transform: translateX(4.8em);
    transform-origin: right;
    @include transition-1s;
    position: absolute;
    right: 0;

    &__price {
      padding: 2.5em 1em 1em 1em;
      font-family: "roboto";
    }
    &__checked {
      background-color: $color-tertiary;
      height: 5em;
      width: 4.7em;
      &__rond {
        height: 1.5em;
        width: 1.5em;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 1.5em;
        margin: 1.6em;
        i {
          color: $color-tertiary;
        }
      }
    }
  }
}

.button-container {
  text-align: center;
  .button2 {
    @include button;
    padding: 1em 3em 1em 3em;
  }
}
