header i {
  position: absolute;
  left: 1em;
  top: 1.1em;
}

.cover-container {
  top: 0;
  &__image {
    object-fit: cover;
    width: 100%;
  }
}

.menu {
  @include section-grey;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -3em;
  padding-bottom: 3em;
  &__title {
    display: flex;
    i {
      position: absolute;
      right: 2em;
      top: 2.5em;
    }
  }
}

.green-underline {
  background-color: $green;
  height: 0.2em;
  width: 3em;
}

.meal {
  padding-bottom: 1em;
  &__dish {
    @include box;
    padding: 1em;
    &__name {
      font-family: "roboto";
      font-size: 1.1em;
      margin-bottom: 0.3em;
      width: 90%;
      @include overflow;
    }
    &__description {
      font-family: "roboto-light";
      font-size: 0.9em;
      width: 80%;
      @include overflow;
    }
    &__price {
      position: absolute;
      bottom: 1em;
      right: 1.5em;
      font-family: "roboto";
      }
      // a finir -----------------------
    &__checked {
      visibility: visible;
      background-color: $color-tertiary;
      width: 4em;
      height: 100%;
      transform-origin: 100%;
      position: absolute;
      right: 0;
      top: 0;
      &:hover {
          animation: checked 3s 100ms forwards ease-in-out alternate-reverse;
        }
      &__rond {
        height: 1.5em;
        width: 1.5em;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 1.5em;
        i {
          color: $color-tertiary;
        }
      }
    }
    // a finir -----------------------
  }
}

.button-container {
  text-align: center;
  .button2 {
    @include button;
    padding: 1em 3em 1em 3em;
  }
}
