.location {
    text-align: center;
    background-color: $color-shadow;
    height: 3em;
    font-family: "roboto";
    line-height: 3em;
    color: $dark-grey;
    box-shadow: inset 0 7px 5px -5px #cfcfcf;
        i {
            padding-right: 0.5em;
        }
}

h1 {
    font-family: 'roboto-medium';
    font-size: 1.7em;
    margin: 0.5em 0 0.5em 0;
}

.explore {
    text-align: center;
    padding: 2em;
    background-color: $light-grey;
        p {
            font-family: 'roboto-thin';
        }
}

.steps {
    padding: 2em 1em 2em 1em;
        h1 {
            margin-bottom: 1.5em;
        }
}

.step {
    background-color: $light-grey;
    height: 4em;
    line-height: 4em;
    padding-left: 2em;
    font-family: 'roboto';
    font-size: 1.1em;
    margin: 1.5em 0 1.5em 0.7em;
    border-radius: 20px;
    @include box-shadow;
    display: flex;
    position: relative;
    i {
        color: $medium-grey;
        margin-right: 1em;
        line-height: 4em;
        width: 1em;
        text-align: center;
    }
    &__number {
        background-color: $color-primary;
        width: 1.3em;
        height: 1.3em;
        border-radius: 45px;
        color: white;
        position: absolute;
        left: -0.7em;
        top: 1.9em;
        text-align: center;
        line-height: 1.3em;
        padding: 0.2em;
        font-size: 0.8em;
    }
    
    
}

.restaurants {
    background-color: $light-grey;
    padding: 2em 1em 2em 1em;
        &h1 {
            margin-bottom: 2em;
        }

}

.restaurant {
    height: 15em;
    background-color: white;
    border-radius: 15px;
    position: relative;
    padding-bottom: 0.3em;
    margin: 1em 0 1em 0;
    @include box-shadow;
    &__image {
        height: 10.5em;
        width: 100%;
        object-fit: cover;
        object-position: 50% 60%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__name {
        margin: 0.5em 0 0 0.5em;
        font-family: 'roboto-medium';
        font-size: 1.3em;
    }
    &__location {
        font-family: 'roboto-light';
        font-size: 1.2em;
        margin: 0.3em 0 0 0.5em;
    }
    &__heart {
        position: absolute;
        right: 1.5em;
        bottom: 2em;
    }
}

footer {
    background-color: $dark-grey;
    color: white;
    font-family: 'roboto';
    padding: 1.5em;
        img {
            margin-bottom: 0.6em;
            width: 7em;
        }
        .footer__text {
            margin: 0.5em 0 0.5em 0; 
            i {
                color: white;
                width: 20px;
                margin-right: 10px;
                text-align: center;
                }
            &--light {
                font-family: 'roboto-light';
            }
            
}
}