@mixin box-shadow {
    box-shadow: 3px 7px 10px 2px $color-shadow;
}

@mixin box {
    background-color: white;
    border-radius: 15px;
    position: relative;
    margin: 1em 0 1em 0;
    box-shadow: 3px 7px 10px 2px $color-shadow;
}

@mixin section-grey {
    background-color: $light-grey;
    padding: 2em 1em 2em 1em;
}

@mixin button {
    color: white;
    font-family: "roboto";
    box-shadow: 2px 5px 5px $color-shadow;
    text-align: center;
    font-size: 1.1em;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    border: none;
    margin: 1em 0 1em 0;
    opacity: 1;
    cursor: pointer;
    outline: none;
        &:hover {
            opacity: 0.85;
            box-shadow: 2px 5px 5px darken($color-shadow, 50);
        }
}

@mixin overflow {
        white-space: nowrap;
        text-overflow: ellipsis ;
        overflow: hidden;
}

// @mixin pc {
//     @media screen and (min-width: map-get($map: $breakpoints, $key: pc )) {
//         @content;
//     }
    
// }

@mixin tablet {
    @media screen and (min-width: map-get($map: $breakpoints, $key: tablet )) {
        @content;
    }
    
}