$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$medium-grey: #EAEAEA;
$dark-grey: #353535;
$light-grey: #f6f6f6;
$icon-grey: #7e7e7e;
$green: #9BDBCA;
$light-color-primary: #f2ebfe ;
$button-shadow:#C8CDC6;

$breakpoints: (
    tablet: 600px
)